.header0{
    color: rgb(43, 40, 40);
    padding: 2vw;
    border: 5px solid white;
    border-radius: 5%;
    font-family: 'Open Sans', sans-serif;
    
}

.header1{
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100% );
    color: rgb(43, 40, 40);
    padding: 2vw;
    border: 5px solid white;
    border-radius: 5%;
    font-family: 'Open Sans', sans-serif;
    

}

.header2{
    background-color: #e2756d;
    color: rgb(43, 40, 40);
    padding: 2vw;
    border: 5px solid white;
    border-radius: 5%;
    font-family: 'Open Sans', sans-serif;
}

.header3{
    background-color: #008CBA;
    color: rgb(43, 40, 40);
    padding: 2vw;
    border: 5px solid white;
    border-radius: 5%;
    font-family: 'Open Sans', sans-serif;
    

}

.header4{
    background-color: #4CAF50;
    color: rgb(43, 40, 40);
    padding: 2vw;
    border: 5px solid white;
    border-radius: 5%;
    font-family: 'Open Sans', sans-serif;
    

}

.header5{
    background-color: #e7e7e7;
}

.header6{
    background-color: #555555;
    color: white !important;
    
}


body{
    margin: 2vw;
    font-family: 'Open Sans', sans-serif;
    color: rgb(239, 255, 253);
}



.inicio{
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
}

.inicio1{
    background-image: linear-gradient(to top, rgb(161, 140, 209, 0.5) 0%, rgba(251, 193, 234, 0.5) 100%), url(../img/cosmo.jpg);
}

.inicio2{

    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    background-image: linear-gradient(to top, rgba(103, 170, 233, 0.5) 0%, rgba(251, 193, 234, 0.5) 100%), url(../img/uno.jpg);

}

.inicio3{

    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    background-image: linear-gradient(to top, rgba(103, 170, 233, 0.5) 0%, rgba(251, 193, 234, 0.5) 100%), url(../img/dos.jpg);

}

.inicio4{

    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    background-image: linear-gradient(to top, rgba(103, 170, 233, 0.5) 0%, rgba(251, 221, 193, 0.5) 100%), url(../img/tres.jpg);

}

.inicio5{
    background-image: linear-gradient(to top, rgb(161, 140, 209, 0.5) 0%, rgba(251, 193, 234, 0.5) 100%), url(../img/cuatro.jpg);

}

.inicio6{
    background-image: linear-gradient(to top, rgb(161, 140, 209, 0.5) 0%, rgba(251, 193, 234, 0.5) 100%), url(../img/cinco.jpg);

}




.caja1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box{
    
        font-family: sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: #ffffff;
        background: #889ccf;
        margin: 0 0 25px;
        overflow: hidden;
        padding: 20px;
        border: 5px solid wheat;
        border-radius: 5%;

}

.box1{

    background-color: #e2756d;

}

.box2{

    background-color: #008CBA;
}

.box3{

    background-color: #4CAF50;
}

.box4{
    background-color: #e7e7e7; color: black;
}

.box5{

    background-color: #555555;

}

.box6{
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}

.box7{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);    
}

.box8{
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);    
}

.box9{
    background-image: linear-gradient(to top, #0fd850 0%, #f9f047 100%);
}

.error{

        font-family: sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: #ffffff;
        background-color: #f44336 !important;
        margin: 0 0 25px;
        overflow: hidden;
        padding: 20px;
}

.fuera{

    font-family: sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: black;
        background-color: #e7e7e7 !important;
        margin: 0 0 25px;
        overflow: hidden;
        padding: 20px;

}

p{
    font-family: 'Inconsolata', monospace;
    font-family: 'Open Sans', sans-serif;
    font-size: 2vw;
    text-shadow: 2px 2px 2px black;
}

.titulo1{
    text-decoration: dashed;
    text-shadow: 2px 0px 2px darkorange;
    color: orange;
}

.imageni{
    text-align: center;
}

b{
    color: orangered;
}

button{
    
    cursor: pointer;
}
